#uom-logo {
    padding:20px;
    width:100%;
}

.text_col_black {
    color: black !important;
}

#bar-chart{
    width:100%;
    height:250px;
}

#page-mask {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.5;
}

#creat-calc{
    position:absolute;
    top:2%;
    left:10%;
    width:45%;
    height:auto;
    display: none;
    z-index:9999;
}

#about-box{
    position:absolute;
    top:2%;
    left:10%;
    width:45%;
    height:auto;
    display: none;
    z-index:9999;
}

#datasources-box{
    position:absolute;
    top:2%;
    left:10%;
    width:45%;
    height:auto;
    display: none;
    z-index:9999;
}

#bnfcodes-box{
    position:absolute;
    top:2%;
    left:10%;
    width:45%;
    height:auto;
    display: none;
    z-index:9999;
}

#faq-box{
    position:absolute;
    top:2%;
    left:10%;
    width:45%;
    height:auto;
    display: none;
    z-index:9999;
}

#input-group-select
{
    width:30%;
}

.last-row {
    width:100%;
    padding-left:12px;
}

#tooltip
.nav.link {
    position:relative;
    cursor:pointer;
}
.hoverable {
    cursor: pointer;
}
.nav-link[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 25%;
    left: 75%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.nav-link[data-tooltip]:hover::after {
    opacity: 1;
}

#tooltip data source
.nav.link {
    position:relative;
    cursor:pointer
}

.hoverable {
    cursor: pointer;
}

.nav-link[data-source-tooltip]:hover::after {
    content: attr(data-source-tooltip);
    position: absolute;
    bottom: 25%;
    left: 98%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.nav-link[data-source-tooltip]:hover::after {
    opacity: 1;
}

#tooltip bnf codes
.nav.link {
    position:relative;
    cursor:pointer
}
.hoverable {
    cursor: pointer;
}
.nav-link[bnf-codes-tooltip]:hover::after {
    content: attr(bnf-codes-tooltip);
    position: absolute;
    bottom: 25%;
    left: 98%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.nav-link[bnf-codes-tooltip]:hover::after {
    opacity: 1;
}